@font-face {
  font-family: "Raleway";
  src: url('/assets/Raleway-VariableFont_wght');
}

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #9095E0;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
