<h1>Member Point Tracker</h1>
<div class='loginCard'>
    <h2 class='titleHeader'>Member Point Tracker</h2>
    <h4 class='subtitleHeader'>Click the button below to login with your TAMU associated google account</h4>
    <div class='buttonContainer'>
        <%= button_to "Login", admin_google_oauth2_omniauth_authorize_path, {class: 'button'} %>
    </div>
</div>

