<h1> User Guide </h1>
<br>
<div class='guideText'>
    <h3 class='guideTitle'> Logging In </h3>
    <p> The sign in page includes a welcome, a description of log-in usage, and a button used to acess the authentication screen. </p>
    <p> When the login button is clicked, users can log in using their current TAMU Gmail account. </p>
    <br>
    <%= image_tag('login_page.png', :class => "guidePhoto")   %>
    <br>
    <br>
    <%= image_tag('google_login.png', :class => "guidePhotoSmall")   %>
    <p> The google account that is logged in must be a valid '@tamu.edu' account and exist the user database. </p>
    <p> If successful, the user will be directed to their dashboard. </p>
    <br>
    <%= image_tag('login_success.png', :class => "guidePhoto")   %>
    <%#  %>
    <h3 class='guideTitle'> Member Views </h3>
    <p>The following are available to users with the 'member' position.</p>
    <p>Users with the 'admin' position will additionally have access to these items.</p>
    <h4> Events </h4>
    <p> Click 'Events' to see a list of all current and past events stored within the database. </p>
    <h4> Personal Points Breakdown </h4>
    <p> Users will see a table containing the events they have attended and the points they have recieved in their dashboard view. </p>

    <%#  %>
    <h3 class='guideTitle'> Admin Views </h3>
    <h4> Member List </h4>
    <p>In the admin dashboard, there is a table populated with all current member data. </p>
    <p>Next to the member listings, there is an option to view the point breakdown for that individual. </p>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>